<div id="edit-box" class="box">
  <h1>Edit password</h1>
  
  <%= form_for @user, :url => update_password_settings_path, :html => { :id => 'edit-password-form' } do |f| %>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, :value => '' %>
      <%= error_on(@user, [:password, :clear_text_password]) %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :value => '' %>
      <%= error_on(@user, :password_confirmation) %>
    </div>
    <div class="buttons">
      <%= f.submit 'Done', :class => 'button' %>
    </div>
  <% end %>
</div>