<div id="results" class="box">
  <h1>Results</h1>
  <% if @results.empty? %>
    <div class="notice">
      No translation available.
    </div>
  <% else %>
    Translation <span id="word" class="strong">
      <%= @word.value %></span> from <span id="from" class="strong">
      <%= @from.value %></span> to <span id="to" class="strong">
      <%= @to.value %></span>:
    <ol id="translation" class="custom">
      <% @results.each do |meaning| %>
        <li>
          <%= meaning.value %>
        </li>
      <% end %>
    </ol>
    <div class="buttons">
      <%= submit_tag 'Save', :id => 'save-button' %>
      <span class="flash"></span>
    </div>
  <% end %>
</div>