<div class="box" id="translate-box">
  <h1>Translate</h1>

  <%= form_for @word, :html => { :id => 'translate-form' } do |f| %>
    <div>
      <%= f.label :value, 'Word' %>
      <%= f.text_field :value %>
      <%= error_on(@word, :value) %>
    </div>
    <div class="group buttons">
      <%= f.select :lang, @available_langs, :selected => Lang.default_from %>
      <%= image_tag 'arrow.png', :id => 'arrow' %>
      <%= select_tag :word_to, options_for_select(@available_langs, :selected => Lang.default_to), :name => 'word[to]' %>
      <%= f.submit 'Translate' %>
    </div>
  <% end %>
</div>
