<!DOCTYPE html>
<html>
  <head>
    <title>Memorizr</title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%= render :partial => 'layouts/logo' %>
        <%= render :partial => '/layouts/right_menu' %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
