<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => '/layouts/head' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%= render :partial => 'layouts/logo' %>
        <%= render :partial => '/layouts/left_menu' %>
        <%= render :partial => '/layouts/right_menu' %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
