<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => '/layouts/head' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%= render :partial => 'layouts/logo' %>
        <%= render :partial => '/layouts/left_menu' %>
        <%= render :partial => '/layouts/right_menu' %>
      </div>
      <div id="content">
        <% if flash[:notice] %>
          <div class="flash flash-notice" id="flash"><%= flash[:notice] %></div>
        <% elsif flash[:error] %>
          <div class="flash flash-error" id="flash"><%= flash[:error] %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
